$main_color: #2A3A47;
/* flex 布局 */
.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flex_s {
  align-items: flex-start;
}
.flex_c {
  flex-direction: column;
  align-items: flex-start;
}

.flex_w {
  flex-wrap: wrap;
}

.flex_r_a {
  justify-content: space-around;
}

.flex_r_b {
  justify-content: space-between;
}

.flex_r_c {
  justify-content: center;
}

.flex_r_e {
  justify-content: flex-end;
}
.flex_r_l {
  align-items: baseline;
}

/*---------font-size----------*/
$size-number: 50;
@for $i from 10 through $size-number {
  .font-#{$i} {
    font-size: 1px * $i;
    line-height: 1.5px * $i;
  }
}
/*---------font-color----------*/
.font-primary {
  color: $main_color;
}

$opacity-number: 9;
@for $i from 1 through $opacity-number {
  .font-primary-#{$i} {
    color: $main_color;
    opacity: .1 * $i;
  }
}
.font-fff {
  color: #fff;
}
.font-ccc {
  color: #ccc;
}
.font-888 {
  color: #888;
}
.font-333 {
  color: #333;
}

/*---------font-show----------*/
.font-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.font-ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.font-nowrap {
  white-space: nowrap;
}
.font-linethrough {
  text-decoration:line-through;
}
.font-l {
  font-weight: 300;
}
.font-b {
  font-weight: 700;
}

/*--------- margin padding ----------*/
$edge-number: 50;
@for $i from 0 through $edge-number {
  .mt-#{$i} {
    margin-top: 1px * $i;
  }
  .mr-#{$i} {
    margin-right: 1px * $i;
  }
  .mb-#{$i} {
    margin-bottom: 1px * $i;
  }
  .ml-#{$i} {
    margin-left: 1px * $i;
  }
  .pt-#{$i} {
    padding-top: 1px * $i;
  }
  .pr-#{$i} {
    padding-right: 1px * $i;
  }
  .pb-#{$i} {
    padding-bottom: 1px * $i;
  }
  .pl-#{$i} {
    padding-left: 1px * $i;
  }
}



